{%- set schema_url = "https://opentelemetry.io/schemas/" ~ ctx.next_version -%}

{% macro common_statements() %}
        - set(resource.schema_url, "{{ schema_url }}")
        - set(scope.schema_url, "{{ schema_url }}")
{% for attr in ctx.attributes %}
        - set(attributes["{{ attr.new_name }}"], attributes["{{ attr.old_name }}"])
        - delete_key(attributes, "{{ attr.old_name }}")
        - set(resource.attributes["{{ attr.new_name }}"], resource.attributes["{{ attr.old_name }}"])
        - delete_key(resource.attributes, "{{ attr.old_name }}")
{% endfor %}
{% endmacro %}

transform:
  error_mode: ignore
  trace_statements:
    - context: span
      statements:
{{ common_statements() }}
  log_statements:
    - context: log
      statements:
{{ common_statements() }}
  metric_statements:
    - context: datapoint
      statements:
{{ common_statements() }}
{% for metric in ctx.metrics %}
        - set(metric.name, "{{ metric.new_name }}") where metric.name == "{{ metric.old_name }}"
{% endfor %}